<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="Employees">
      <section name="Rolls" type="System.Configuration.NameValueSectionHandler" />      
      <section name="Ranks" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
  </configSections>

  <Employees>
    <Rolls>
      <add key="zutar" value="5" />
    </Rolls>
    <Ranks>
      <add name="test" precents="zutar" />
    </Ranks>
  </Employees>   
</configuration>