<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>    
    <section name="Rolls" type="System.Configuration.NameValueSectionHandler" />      
    <section name="Ranks" type="System.Configuration.NameValueSectionHandler" />    
  </configSections>
 
    <Rolls>
      <add key="test" value="zutar" />
      <add key="test2" value="zutar" />
    </Rolls>
    <Ranks>
      <add key="zutar" value="5" />
    </Ranks> 
</configuration>