<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>    
    <section name="Rolls" type="System.Configuration.NameValueSectionHandler" />      
    <section name="Ranks" type="System.Configuration.NameValueSectionHandler" />
    <section name="Risk" type="System.Configuration.NameValueSectionHandler"/>
    <section name="constHours" type="System.Configuration.NameValueSectionHandler"/>
    <section name="minHours" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
 
  <Rolls>
    <add key="cleaner" value="junior;decisionsMaker;expert" />
    <add key="seniorCleaner" value="senior" />
    <add key="cleanerShiftManager" value="decisionsMaker" />
    <add key="cooker" value="senior" />
    <add key="sousChef" value="senior;expert" />
    <add key="chef" value="decisionsMaker;senior;expert" />
    <add key="waiter" value="junior" />
    <add key="managementHead" value="manager" />

    <add key="nurse" value="junior"/>      
    <add key="paramedic" value="junior"/>
    <add key="medic" value="junior"/>
    <add key="seniorNurse" value="senior;decisionsMaker"/>
    <add key="midwife" value="senior"/>
    <add key="breechMidwife" value="expert"/>
    <add key="juniorDoctor" value="junior"/>
    <add key="breechJuniorDoctor" value="junior;expert"/>
    <add key="doctor" value="senior"/>
    <add key="seniorDoctor" value="senior;decisionsMaker"/>
    <add key="expertDoctor" value="senior;decisionsMaker;expert"/>
    <add key="deputyDepartmentManager" value="decisionsMaker;manager"/>
    <add key="departmentManager" value="manager"/>
  </Rolls>
  
  <Ranks>
    <add key="junior" value="0" />
    <add key="senior" value="5" />
    <add key="expert" value="30" />
    <add key="decisionsMaker" value="50" />
    <add key="manager" value="50" />
  </Ranks>

  <Risk>
    <add key="cleaner" value="20"/>
    <add key="departmentManager" value="100"/>
  </Risk>

  <constHours>
    <add key="decisionsMaker" value="200" />
    <add key="manager" value="200" />
  </constHours>

  <minHours>
    <add key="decisionsMaker" value="50"/>
  </minHours>
</configuration>